
<div class="col-md-6">
<div>
                            <h2>ABOUT US</h2><br />
							<p>The Sports Society organizes various student and faculty (both male and female) sports activities in the College, including Cricket, Badminton, Table Tennis, Athletics, Chess, and Tug-of-War. It organizes the yearly PUCIT Olympics, a mega annual sports festival. The society also faiclitates students to take part in the various sports competitions held at the university and inter university levels.</p>
						
</div>

<div class="offer-header">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							
								<h2>OUR WORK</h2>
							
						</div>
					</div>
				</div>

		<div class="row">
					<div class="offer-holder">
						<div class="col-md-6">
							<div >
								<figure>
									<img src="~/Images/PUCIT1.jpg" alt="" height="100">
								</figure>
								<div class="offer-content text-center">
									<h4>HAPPY WORKING WITH US</h4>
									<p>PUCIT Sports Society distributes certificates of appretiation to every participant of PUCIT Olympics. Refreshment and other facilitites are given to Organizers, Head Organizers and Executive body of Society.</p>
									
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="offer-item offer-2 animated fadeInRight">
								<figure>
									<img src="~/Images/olympics2.jpg" alt="">
								</figure>
								<div class="offer-content text-center">
									<h4>OUR SOCIETY BACKGROUND</h4>
									<p>PUCIT Sports Society was started in Fall 2009. Number of participants increases every year and now it the most popular society in PUCIT. PUCIT Olympics '14 was recorded the most electrifying event in the history of PUCIT</p>
									
                                    <figure>
									<img src="~/Images/opening.jpg" alt="" >
								</figure>
								</div>
							</div>
						</div>
					</div>
				</div>


    </div>